<main class = "auth">
    <header>
        <h1>Forgot password?</h1>
        <p>No problem. Enter your email and hit 'Proceed' in order to receive 
            a password reset link on your email.
        </p>
    </header>
    <form [formGroup] = "forgotPassword" class="form" (ngSubmit) = "submit($event)"> 
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> 
                E-mail
            </mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="forgotPassword.controls.email.touched && forgotPassword.controls.email.invalid">
              <span *ngIf="forgotPassword.controls.email.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
    
        <button class="form__submit"
         [disabled]="!forgotPassword.valid || actionSuccess"
         mat-flat-button color="primary">Proceed</button>
    </form>
</main>