
<div style="overflow-x: auto;width: calc(100%)">
  <table mat-table [dataSource]="this.TransactionsList.transactions"
       class="mat-elevation-z8 mainDataTable" *ngIf="!(isLoading$ | async) && this.transactionsPresent()">

    <ng-container matColumnDef="Market">
      <th mat-header-cell *matHeaderCellDef> Market </th>
      <td mat-cell *matCellDef="let element" (click)="navigateToTickerTransactions(element.ticker)">

        <div class="avatarDescription">
          <img src="{{element.urlLogo}}" />
          <div>
            <h1>{{element.ticker}}</h1>
            <p>{{element.name}}</p>

          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Average Initial">
      <th mat-header-cell *matHeaderCellDef> Average Initial </th>
      <td mat-cell *matCellDef="let element">
          {{element.averageInitial | number : '1.2-2'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Total Invested">
      <th mat-header-cell *matHeaderCellDef class = "sellTableHeader"> Total Invested </th>
      <td mat-cell *matCellDef="let element">
              {{element.totalInvested | number : '1.2-2'}}
      </td>
    </ng-container>


    <ng-container matColumnDef="Total P/L">
      <th mat-header-cell *matHeaderCellDef class = "buyTableHeader"> Total P/L </th>
      <td mat-cell *matCellDef="let element">
              {{element.totalPl | number : '1.2-2'}}
      </td>
    </ng-container>


    <ng-container matColumnDef="Total P/L%">
        <th mat-header-cell *matHeaderCellDef class = "buyTableHeader"> Total P/L% </th>
        <td mat-cell *matCellDef="let element">
                {{element.totalPlPercentage | number : '1.2-2'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="Total units">
        <th mat-header-cell *matHeaderCellDef class = "buyTableHeader"> Total units </th>
        <td mat-cell *matCellDef="let element">
            <div class = "totalUnits">
                {{element.totalUnits | number : '1.2-2'}}
            </div>
        </td>
    </ng-container>


    <ng-container matColumnDef="Value">
        <th mat-header-cell *matHeaderCellDef class = "buyTableHeader"> Value </th>
        <td mat-cell *matCellDef="let element">
            {{element.value | number : '1.2-2'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="Options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" width="1px">

          <button mat-icon-button [matMenuTriggerFor]="appMenu"
          [matMenuTriggerData]="{name: element.ticker}">
              <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #appMenu="matMenu">
              <ng-template matMenuContent let-name="name">
                    <button mat-menu-item [routerLink]="['/dashboard/portofolio/' + name]">
                      <mat-icon>info</mat-icon>
                      <span>Open positions {{name}}</span>
                    </button>
              </ng-template>
            </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.columnDefinitions"></tr>
    <tr mat-row *matRowDef="let row; columns: this.columnDefinitions;" ></tr>
  </table>
</div>

  <article>
    <header>
      <h2 *ngIf="!(isLoading$ | async) && !this.transactionsPresent()" class="userHint">
        <p>Transactions you open in the '<strong>Market</strong>' tab appear here.</p>
        <p>You can track your opened position's profitability here.</p>
      </h2>
    </header>
  </article>

