<main class = "auth">
    <header>
        <h1>Reset Password</h1>
        <p>Enter the password you wish to have in these two boxes below.
        </p>
    </header>
    <form [formGroup] = "resetPassword" class="form" (ngSubmit) = "submit($event)"> 
        <div class="password">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> 
                    New password
                </mat-label>
    
                <input matInput placeholder="Password" spellcheck="false" [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password" required>
    
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
    
                <mat-error *ngIf="resetPassword.controls.password.touched && resetPassword.controls.password.invalid">
                    <span *ngIf="resetPassword.controls.password.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
    
    
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> 
                    Confirm password
                </mat-label>
    
                <input matInput placeholder="Password" spellcheck="false"
                 formControlName="confirmPassword"
                 type = "password"
                 required>
    
                <mat-error 
                *ngIf="resetPassword.controls.confirmPassword.touched && resetPassword.controls.confirmPassword.invalid"
                >
                  <span *ngIf="resetPassword.controls.confirmPassword.errors?.required">This field is mandatory.</span>
                  <div *ngIf="resetPassword.controls.confirmPassword.errors?.passwordMatchValidator">Password and Confirm Password must be match.</div>
                </mat-error>
            </mat-form-field>
        </div>
    
        <button class="form__submit"
         [disabled]="!resetPassword.valid || actionSuccess"
         mat-flat-button color="primary">Proceed</button>
    </form>
</main>