<main class="container">
    <header>
        <h1 class="title">A new way of researching stocks</h1>
    </header>

    <div class="benefits">
        <div class="benefit">
            <div class="icon">
                <mat-icon aria-hidden="false" mat-inl>online_prediction</mat-icon>
            </div>
            <p>Use the <strong>forecasted data </strong> to your advantage. </p>
            <p>Leverage the access to technical analysis data generated
                 by multiple machine learning algorithms.</p>
        </div>

        <div class="benefit">
            <div class="icon">

            <mat-icon aria-hidden="false">area_chart</mat-icon>
        </div>

            <p>Access <strong> historical data </strong> of the companies.</p>
        </div>

        <div class="benefit">
            <div class="icon">
                <mat-icon aria-hidden="false">try</mat-icon>
            </div>
            <p>Train your investing skill using our <strong>trades simulator</strong>.</p>
        </div>
    </div>

    <div class="bottomPanel">
        <h2>Register today to get a handle on investing.</h2>

        <div class="actions">
            <button mat-flat-button color="primary">Register</button>
            <button mat-flat-button color="primary">News</button>
        </div>
    </div>

</main>