.avatarDescription {
  word-break: break-word;
  text-overflow: ellipsis;
}


.mainDataTable {
  width: 100%;
}

tr.table-row {
  height: 30px;
}

.table-row:hover {
  cursor: pointer;
  background-color: #efefef;
}

img {
  width: 45px;
  height: 45px;
}

.avatarDescription {
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 5px 0;

  div {
    margin: 5px;

    * {
      margin: 0;
    }
  }
}

.upTrend {
  color: green;
}

.downTrend {
  color: red;
}

.sellTableHeader, .buyTableHeader {
  text-align: center;
}

.align-center{
    text-align: center;
    justify-content:  center;
}
.buyCell, .sellCell {
  width: 90%;
  min-width: 10px !important;
  padding: 2px !important;
}



