<!-- <div *ngFor="let item of StockMarketList">
    <app-stock-summary-item [model]="item"></app-stock-summary-item>
</div> -->


<table mat-table [dataSource]="this.StockMarketList" class="mat-elevation-z8 mainDataTable">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  <!-- ticker: string;
          name: string;
          urlLogo: string;
          trend: Number;
          high: Number;
          low: Number;
          openValue: Number;
          closeValue: Number;
          sellPrice: Number;
          buyPrice: Number; -->


  <!-- Position Column -->
  <ng-container matColumnDef="Market">
    <th mat-header-cell *matHeaderCellDef> Market </th>
    <td mat-cell *matCellDef="let element" (click) = "navigatToCompanyPage(element)">

      <div class="avatarDescription">
        <img src="{{element.urlLogo}}" />
        <div>
          <h1>{{element.ticker}}</h1>
          <p>{{element.name}}</p>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Trend Column -->
  <ng-container matColumnDef="Trend">
    <th mat-header-cell *matHeaderCellDef> Trend </th>
    <td mat-cell *matCellDef="let element">
      <p *ngIf="element.trend >= 0" class="upTrend">
        <mat-icon mat-list-icon inline=true>trending_up</mat-icon>
        {{element.trend}}%
      </p>

      <p *ngIf="element.trend < 0" class="downTrend">
        <mat-icon mat-list-icon inline=true>trending_down</mat-icon>
        {{element.trend}}%
      </p>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Sell">
    <th mat-header-cell *matHeaderCellDef class = "sellTableHeader"> Sell </th>
    <td mat-cell *matCellDef="let element"> 
        <div class = "sellCell" (click) = "handleSell(element)">
            {{element.sellPrice}} 
        </div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Buy">
    <th mat-header-cell *matHeaderCellDef class = "buyTableHeader"> Buy </th>
    <td mat-cell *matCellDef="let element">
        <div class = "buyCell" (click) = "handleBuy(element)">
            {{element.buyPrice}} 
        </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" width="1px">

        <button mat-icon-button [matMenuTriggerFor]="appMenu" 
        [matMenuTriggerData]="{name: element.ticker}">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent let-name="name">
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Notify</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>info</mat-icon>
                    <span>Historical Data {{name}}</span>
                  </button>
            </ng-template>
          </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>