<mat-grid-list [cols]="(this.isHandset$ | async) ? 1 : 2" rowHeight="2:1" class="grid">
  <mat-grid-tile [rowspan]="2">
    <div class="company__general">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="companyInfo?.urlLogo || ''" class="tickerLogo" alt="Company logo"/>
          </div>
          <mat-card-title>{{companyInfo?.ticker || ''}}</mat-card-title>
          <mat-card-subtitle>{{companyInfo?.name || ''}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{companyInfo?.description || ''}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="company__marketData">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>Market data</mat-card-title>
          <mat-card-subtitle>Stock market indicators</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p><strong>Short price: </strong>  {{companyInfo.sellPrice.toString() | number: '1.2-2'}} </p>
          <p><strong>Long price: </strong> {{companyInfo.buyPrice.toString() | number: '1.2-2'}} </p>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="company__trend">

      <mat-card>
        <mat-card-title-group>
          <mat-card-title>Trend</mat-card-title>
          <mat-card-subtitle>Price evolution over current week</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p><strong>Trend: </strong> {{companyInfo.trend.toString() | number: '1.2-2'}}% </p>
          <p><strong>Price range: </strong> {{companyInfo.timepoint.openValue.toString() | number: '1.2'}}
            - {{companyInfo.timepoint.closeValue.toString() | number: '1.2'}} </p>

        </mat-card-content>
      </mat-card>
    </div>

  </mat-grid-tile>
</mat-grid-list>
