<main *ngIf="!(isLoading$ | async)" class="transactions">


  <header class="header">
    <h1>Your transactions for</h1>
    <div class="avatarDescription">
      <img src="{{transactionsList.urlLogo}}" />
      <div>
        <h1>{{transactionsList.ticker}}</h1>
        <p>{{transactionsList.name}}</p>
      </div>
    </div>
  </header>


  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Open" class="tabContent">

      <app-transactions-table [displayedColumns]="this.displayedColumns"
        [transactionsList]="this.transactionsList.openTransactions"
        (closeTransactionEmitter)="this.closeTransaction($event)"></app-transactions-table>

      <div *ngIf="this.transactionsList.openTransactions.length <= 0" class="noTransactions">
        <p>There are no open transactions!</p>
      </div>

    </mat-tab>
    <mat-tab label="Scheduled" class="tabContent">

      <app-transactions-table [displayedColumns]="this.displayedColumns"
        [transactionsList]="this.transactionsList.scheduledTransactions"
        (closeTransactionEmitter)="this.closeTransaction($event)"></app-transactions-table>
      <div *ngIf="this.transactionsList.scheduledTransactions.length <= 0" class="noTransactions">
        <p>There are no scheduled transactions!</p>
      </div>
    </mat-tab>
    <mat-tab label="Closed" class="tabContent">

      <app-transactions-table [displayedColumns]="this.displayedColumns"
        [transactionsList]="this.transactionsList.closedTransactions"
        (closeTransactionEmitter)="this.closeTransaction($event)"></app-transactions-table>
      <div *ngIf="this.transactionsList.closedTransactions.length <= 0" class="noTransactions">
        <p>There are no closed transactions!</p>
      </div>
    </mat-tab>
  </mat-tab-group>

</main>