.newsPost{
  padding-top: 30px;
  margin: 20px 60px;
  -webkit-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.75);
  border: 1px solid grey;
  min-height: 800px;
}

.smallPostThumbnail{
  width: 45px;
}
.newsPost__banner {
  max-height: 300px;
}

.newsPost__content{
  min-height: 200px;
}


@media (max-width: 720px) {
  .newsPost {
    margin: 0px !important;
    width: 100%;
    padding: 30px 0 0 0;
  }
}
