
.auth{
    padding: 50px;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    header{
        margin: 20px;
        h1{
           text-align: center;
        }

        p{
            max-width: 300px;
            text-align: center;
            word-wrap: break-word;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    mat-form-field{
        width: 100%;
    }
    .name,  .password
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        mat-form-field{
            width: 48%;
        }
    }

    .form__registerAdvice{
        margin-top: 30px;
    }

    .form__submit{
        margin-top: 20px;
    }
}

@media (max-width: 600px) {

    .form{
        .name,  .password
        {
            width: 100%;
            display: block;
            mat-form-field{
                width: 100%;
            }
        }
    }

}
